/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* 
RESET END 
SRC: https://piccalil.li/blog/a-modern-css-reset/
*/

/* TAILWIND CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GFONT :: Prompt, Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&family=Prompt:wght@200;400;500;600;700;900&display=swap");

:root {
    --s_teal: #5cdb94;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2a2e35;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.boldface {
    font-family: "Prompt", Helvetica, sans-serif;
    font-weight: 700;
}
.prompt-font {
    font-family: "Prompt", Helvetica, sans-serif;
    font-weight: 600;
}

.descrip {
    font-weight: 500;
}

.center-text-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* for only nav bar */
.center-text-vert > a,
.center-text-vert > a:hover,
.center-text-vert > a:visited {
    color: white;
}

/* CURVE */
.home-page-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.home-page-curve svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 398px;
}

.home-page-curve .shape-fill {
    fill: var(--s_teal);
}

.void {
    display: none;
}

.descrip {
    display: flex;
    justify-content: space-between;
}

.menu-font {
    font-family: "Montserrat", monospace, sans-serif;
}

.cart-font {
    font-family: Helvetica, sans-serif;
}

/* from - https://css-tricks.com/css-link-hover-effects/ */

.menu-link {
    background: linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
        linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.menu-link:hover {
    background-size: 0 3px, 100% 3px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow-y: scroll;
}

.quan-btn {
    max-width: 100%;
    max-height: 100%;
}
